.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper {
  padding-top: 70px;
}

.season {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  &.season-winter {
    background-image: url('assets/img/lake_winter.jpg');
  }

  &.season-spring {
    background-image: url('assets/img/lake_spring.jpg');
  }

  &.season-summer {
    background-image: url('assets/img/lake_summer.jpg');
  }

  &.season-autumn {
    background-image: url('assets/img/lake_autumn.jpg');

    &.w01d {
      background-image: url('assets/img/autumn_01d.jpg');
    }
    &.w01n {
      background-image: url('assets/img/autumn_01n.jpg');
    }
    &.w02d {
      background-image: url('assets/img/autumn_02d.jpg');
    }
    &.w02n {
      background-image: url('assets/img/autumn_02n.jpg');
    }
    &.w03d {
      background-image: url('assets/img/autumn_03d.jpg');
    }
    &.w03n {
      background-image: url('assets/img/autumn_03n.jpg');
    }
    &.w04d {
      background-image: url('assets/img/autumn_04d.jpg');
    }
    &.w04n {
      background-image: url('assets/img/autumn_04n.jpg');
    }
  }
}

.gerb {
  position: absolute;
  background: url('assets/img/galich.png') center center no-repeat;
  background-size: 100%;
  width: 40px;
  height: 50px;
  z-index: 9;
  top: 20px;
  right: 20px;
}

.container {

}

.data {
  text-align: center;
  width: 300px;

  height: 340px;
  //display: none;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  box-sizing: border-box;
  margin: 20px auto;

  .season-spring & {
    color: #fff;
  }

  .season-summer & {
    color: #fff;
  }

  .season-autumn & {
    color: #ff0;
  }

  .season-winter & {
    color: #fff;
  }
}

.title {
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.text {
  line-height: 40px;
  font-size: 30px;
  text-shadow: 1px 1px 10px rgba(255,0,0,0.8);
  letter-spacing: 4px;
}

.daytime {
  line-height: 15px;
  font-size: 12px;
  text-shadow: 1px 1px 10px rgba(255,0,0,0.8);
}

.time {
  line-height: 40px;
  font-size: 30px;
  text-shadow: 1px 1px 10px rgba(255,0,0,0.8);
}

.weather-icon {
  font-family: "MeteoconsRegular", sans-serif;
}


@media screen and (min-width: 768px) {
  .data {
    background: rgba(0,0,0,0.5);
    padding: 20px;
    box-sizing: border-box;
  }

}

@media screen and (min-width: 992px) {
  .container {
    display: grid;
    /* Creates three equal columns */
    grid-template-columns: repeat(3, 1fr);
    /* Centers the content within each grid cell (item) */
    place-items: center;
    /* Optional: ensures the container has a visible size */
    height: 360px;
    width: 100%;
    padding-top: 120px;
  }
}
